@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}


.circle1 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(./images/bg-pattern-top.svg);
    z-index: 5;
    position: absolute;
    left: -20%;
    top: -50%;
}
.circle2 {
    width: 800px;
    height: 450px;
    background-repeat: no-repeat;
    background-image: url(./images/bg-pattern-bottom.svg);
    z-index: -1;
    position: absolute;
    right: 0;
    bottom:0;
}

.card {
    width: 350px;
}
.top {
    height: 150px;
    background-image: url(./images/bg-pattern-card.svg);
    position: relative;
    border-radius: 20px 20px 0px 0px;
}
.top img{
    margin-left:calc(175px - 53px);
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    border: 5px solid white;
}
.text {
    background: white;
    padding-top: 50px;
    border-radius: 0px 0px 20px 20px;
}
.name-age {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size:18px;
}
.country {
    border-bottom: 1px solid hsla(227, 10%, 46%, 0.3) ;
}
.name-age p:first-child   {
    color:hsl(229, 23%, 23%);
    font-weight: 700;
}
.name-age p:last-child   {
    color:hsl(0, 0%, 59%);
}
.text:nth-child(2) > p {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 25px;
    color:hsl(227, 10%, 46%);
}
hr {
    border: 0.1px solid hsl(0, 0%, 80%);
}
.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 25px;
}

.info p:first-child {
    font-size : 18px;
    font-weight: 700;
    color:hsl(229, 23%, 23%);
}

.info p:last-child {
    font-size : 12px;
    margin-top: 4px;
    color:hsl(0, 0%, 59%);
    letter-spacing: 2px;
    
}
@media(max-width:375px) {
    .circle1 {
        width: 1000px;
        height: 1000px;
        background-repeat: no-repeat;
        background-image: url(./images/bg-pattern-top.svg);
        position: absolute;
        left: -800px;
        z-index: -1;
    }
    .circle2 {
        width: 1000px;
        height: 1000px;
        background-repeat: no-repeat;
        background-image: url(./images/bg-pattern-bottom.svg);
        position: absolute;
        left: 180px;
        top:40%;
        z-index: -1;
    }  
}